@charset "utf-8";

/* global */

html {
    scroll-behavior: smooth;
}

section {
    min-height: 100vh;
}

.main {
    background-color: rgb(0, 0, 0);
}

.light {
    background-color: rgb(224, 221, 221);
}

.dark {
    color: #efefef;
}


#sobre_mim {
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 280px;
    padding-inline: 12px; */
    /* min-height: 100vh; */
}

#sobre_mim div {
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* line-height: 100px; */
    width: 55%;
    height: 300px;
    gap: 25px;
}

#sobre_mim h1 {
    /* font-family: 'Righteous', cursive; */
    font-size: 88px;
    font-weight: 900;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffffe8;
    text-shadow: 1px 1px 50px #000;
}

#sobre_mim h2 {
    /* font-family: 'Righteous', cursive; */
    font-size: 56px;
    font-weight: 900;
    letter-spacing: 0em;
    text-align: left;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
    color: rgb(25, 226, 241);
    animation: glowing 2s infinite; 
}

@keyframes glowing {
    0%{
        color: rgb(25, 226, 241);
        text-shadow: 0 0 5px  rgb(25, 226, 241);
    }
    50% {
        color:  rgb(87, 237, 248);
        text-shadow: 0 0 20px  rgb(87, 237, 248);
    }
    100% {
        color:  rgb(25, 226, 241);
        text-shadow: 0 0 5px rgb(25, 226, 241);
    }
}

#sobre_mim div .texto {
    line-height: 20px;
    text-align: justify;
    /* text-indent: 10px; */

    /* background-color: black; */

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#sobre_mim div .texto p {
    /* font-family:'Righteous', cursive; */
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0em;
    text-align: start;
    color: #ffffffe8;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
    max-width: 600px;
    margin: 0 auto;
    line-height: 26px;
}

#sobre_mim div nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 7px;
}

#sobre_mim div nav a {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: none;
}

#sobre_mim figure {
    /* background-color: coral; */
    width: 45%;
}

.foto {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

/* --------TECNOLOGIAS---------- */

#tecnologias {
    /* margin-top: 280px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carts_father{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


#tecnologias .carts_child {
    animation: expandAndContract 3s infinite;
    transform-origin: center;
    background-color: white;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(50px);
    box-shadow: 5px 2px 20px black;
    z-index: 1;
    margin-top: 10px;
    width: 420px;
    height: 420px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 3 ease-in-out;
}

#tecnologias .carts_child:hover {
    background-color:rgb(25, 226, 241);
    transform: scale(1.1);
    z-index: 2;
}

#tecnologias h1, p {
    color: rgb(25, 226, 241);
}

#tecnologias h1 {
    font-size: x-large;
    font-weight: 800;
    font-size: 60px;
    margin-bottom: 50px;
    text-shadow: 8px 1px 10px #000;
}

/* --------PROJETOS---------- */

#projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carts_projects_father {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#projetos .carts_projects_child {
    background: rgb(113, 118, 117);
    margin-top: 10px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projetos h1, h2, p {
    color: rgb(25, 226, 241);
}

#projetos h1 {
    font-size: x-large;
    font-weight: 800;
    font-size: 60px;
    margin-bottom: 50px;
    text-shadow: 8px 1px 10px #000;
}

/* --------------- reponsividade --------------- */

/* tablet - (<= 628px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    main {
        margin-top: 100px;
    }
}