@charset "utf-8";

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    color: blue;
    border-bottom: 3px solid rgb(25, 226, 241);
}

.cabecalho h1 {
    font-weight: 900;
    font-size: 30px;
    color: rgb(25, 226, 241);
    transition: text-shadow 0.3s;
    cursor: pointer;
}

.cabecalho h1:hover {
    text-shadow: 0px 0px 10px rgb(124, 236, 249);
}

.navegacao {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 60px;
    list-style: none; 
}

button {
    width: 160px;
    height: 50px;
    border-radius: 15px;

    background-color: black;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 18px;
    border-style: none;
    box-shadow: 0px 0px 1px 1px rgb(25, 226, 241);
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, a:hover {
    background-color: rgb(25, 226, 241);
    box-shadow: 0 0 10px rgb(25, 226, 241);
}

li {
    width: 160px;
    height: 50px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 1px 1px rgb(25, 226, 241);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(134, 130, 130);
    font-weight: 800;
    width: 160px;
    height: 50px;
    border-radius: 15px;
}