
* {
  margin: 0;
  padding: 0;
  /* font-family:Arial, Helvetica, sans-serif; */
  font-family: 'Poppins', sans-serif;
}

/* body {
  background-color: green;
} */

h1 {
  color: rgb(2, 95, 176);
}

button, a {
  cursor: pointer;
}

:root {
  --bg-color: #ececec;
  --second-bg-color: #ffffff;
  --text-color: rgb(3, 35, 94);
  --second-color: rgb(0, 0, 0);
  --main-color: #c96522;
  --secondary-color: #F57D1F;
  --my-blue: #19e2f1;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
  --p-small-font: 0.9rem;
}